/* HEADER */
.top img {
    position: absolute;
}

.top h1 {
    width: 100%;
    text-align: center;
    color:  #203EDD;
}

/* SÉPARATION DE LIGNES */
main > div {
    width: 100%;
    display: inline-flex;

}

.line {
    border-width:medium;
    border-style: solid;
    border-color: black;
    flex: 1;
}

/* NAVIGATION */
nav {
    width: 100%;
    align-self: center;
    align-content: center;
    align-items: center;
}

figcaption {
   text-align: center;
   color: #203EDD  ;
}

/* FOOTER */
footer div {
    display: flex;
    width: 100%;
}

footer {
    padding-bottom: 20px;
}

.image:hover {
    /* Les images sont grossies de 10% */
    -webkit-transform:scale(1.1); /* Safari et Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* Internet Explorer 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
    }

    .image1:hover {
        /* L'image QUI SOMMES-NOUS ? est gorssis de 5% ( pour ne pas cahcher le texte du dessus */
        -webkit-transform:scale(1.05); /* Safari et Chrome */
        -moz-transform:scale(1.05); /* Firefox */
        -ms-transform:scale(1.05); /* Internet Explorer 9 */
        -o-transform:scale(1.05); /* Opera */
        transform:scale(1.05);
        }