/* HEADER */
.top img {
    position: absolute;
}

.top h1 {
    width: 100%;
    text-align: center;
    color:  #203EDD;
}

/* SÉPARATION DE LIGNES */
.line {
    border-width:medium;
    border-style: solid;
    border-color: black;
    flex: 1;
}

/* NAVIGATION */
nav a {
    display: block;
}

figure div {
    width: 100%;
}

figure img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

figcaption {
   text-align: center;
   color: #203EDD;
}

figure .zoom-image {
    overflow: hidden;
}

figure:hover .zoom-image img {
    transform: scale(1.1);
}

/* FOOTER */
footer div {
    display: flex;
    width: 100%;
}

footer {
    padding-bottom: 20px;
}