.top{
    display: flex;
}

.top img{
    position: absolute  ;
}
.top h1{
    position: relative;
    width: 100%;
    text-align: center;
    color:  #203EDD;
}

main{
    display:flex;
    flex-direction: column;
}
nav{
    width: 100%;
    display:inline-flex;
    align-self: center;
    align-content: center;
}
figure{
    display:flex;
    flex-direction: column;
}
article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:50%;
    justify-content: space-around;
}
figcaption{
   text-align: center;
   color: #203EDD  ;
}

a:hover img{
    background-image: url(/img/logo.jpg);
    background-position: 0px -225px;
    background-repeat: no-repeat;
}

.line{
    border-width:medium;
    border-style: solid;
    border-color: black;
}
main div{
    display: inline-flex;
}
footer div{
    width:100%;
    display: inline-flex;
}
footer div h2{
    font-size: 2em;
}

.carousel-item{
    height: 400px;
}

.carousel-item img{
    height: 400px;
}

footer .carousel-item{
    height: 800px;
}

.carousel-item img{
    height: 800px;
}