/* FONTS */
@font-face {
    font-family: "flood-water";
    src: url("../font/floodwater-normal-webfont.woff2") format("woff2"),
         url("../font/floodwater-normal-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* ELEMENTS */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
    
h1  {
    font-family: "flood-water", Arial, Helvetica, sans-serif;
    color: #0047E0;
    font-size: 5em;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    height: 60px;
    background-color: #DDD;
    z-index: 10;
}

header nav img {
    display: block;
    height: 60px;
    width: 60px;
}

header nav {
    display: flex;
    height: 60px;
}

header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-left: 0;
    width: calc(100vw - 60px);
}

header nav ul li
{
    height: 60px;
    width: 100%;
    border-left: 1px solid #203EDD;
    cursor: pointer;
}

header nav ul li:hover, header nav ul li.displayed
{
    background-color: #203EDD;
}

header nav ul li:hover a, header nav ul li.displayed a {
    color: #FFF;
}

header nav ul li a {
	display: block;
	height: 60px;
	line-height: 60px;
	flex-basis: 100%;
	text-align: center;
    text-decoration: none;
    color: #203EDD;
}

/* HEADER SOUS-MENU */
header div {
    display: none;
    justify-content: space-between;
    background-color: #203EDD;
}

header div.displayed {
    display: flex;
}

header div ul {
	flex-basis: 50%;
}

header div ul li {
    list-style: none;
    font-size: 1.5em;
    margin-top: 10px;
}

header div ul li ul li {
    font-size: 0.7em;
}

header div a {
    color: #FFF;
	text-decoration: none;
}

header div div {
    display: flex;
	flex-basis: 50%;
	padding: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

header div div img {
	display: block;
	width: 100%;
	height: auto;
}

/* NAVIGATION */
body > nav {
    position : fixed;
    right: 0;
    background-color: #203EDD;
    height: calc(100vh - 60px);
}

/* BUTTONS */
.button {

    display : block;
    background-color: #203EDD;
    color: #FFF;
    padding: 1em 2em;
    text-decoration: none;
    width: fit-content;
    border-radius: 0.2em;
}

/* MAIN */
.principale {
    position: absolute;
    top: 60px;
}