main { 
    
    
}

div > nav { 
    background-color: #203EDD;
    min-height: calc(100vh - 60px);
}
main > div > nav { 
    background-color: white;
    min-height: 0;
    margin-top: 50px;
}
.navig {
    padding: 0;
    position: fixed;
    right: 0;
    
}
div > nav > h3 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
div > nav > p {
    color: white;
}

.container-fluid {
    padding-right: 0;
    
}

div > nav > ul li {
    list-style-type: none;
    margin-top: 40px;
    text-align: left;
}
div > nav > ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}
div > nav > ul {
    padding-left: 10px;
}
.row {
    margin-right: 0;
}
aside {
    background-color: #203EDD;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 25px;
    color: white;

}
aside p {
    margin-top: 40px;
    font-size: 18px;

}
article {
    border: solid #00E6FF;
    margin-top: 25px;
    display: flex;
}

article div {
    display: flex;
}

article div:nth-child(2) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

div > h2, div > p {
    color: #203EDD;
    font-size: 1.5em;

}
div > h2 {
    font-size: 2em;
}
h3 {
    margin-top: 1.5em;
}
aside > h2 {
    padding-top: 15px;
}

.devis {
    position: relative;
    top: 50px;
}

article {
    display: flex;
}

@media only screen and (max-width: 1150px) {
    div > p {
        top: 20px;
    }
    div > h2 {
        bottom: 15px;
    }
}

@media only screen and (min-width: 1000px) {
    .menumobile {
        display: none;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1125px){
    article > div > p {
        font-size: 1.1em;
    }
}
/* version tablette */
@media only screen and (max-width: 1000px) {
    main + nav {
        display: none;
    }
    .menumobile > ul li {
    list-style-type: none;
    margin-top: 20px;
    text-align: left;
    }
    .menumobile > ul li a {
        text-decoration: none;
        color: white;
        font-size: 16px;
    }
    .menumobile > ul {
        padding-left: 10px;
    }
    .menumobile {
        border: none;
    }
    article h3 {
        color: white;
    }
    .menumobile {
        background-color: #203EDD;
        margin-top: 30px;
        
        border-radius: 25px;
        color: white;
    }
    div > img {
        min-width: 200px;
    }
    
    article {
        flex-direction: column;
    }
    article div img {
        display: block;
    }
    article div {
        justify-content: center;
        align-items: center;
    }
    .button {

    }

}
