body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

@font-face {
    font-family: 'flood_waternormal';
    src: url('Font/floodwater-normal-webfont.woff2') format('woff2'),
         url('Font/floodwater-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1  {

    font-family: "flood_waternormal", Arial, Helvetica, sans-serif;
    color: #0047E0;
    font-size: 5em;

}

header {

    position: sticky;
    top: 0;
    background-color: #CCC;

}

header img {

    display: block;
    height: 5em;
    width: 5em;

}

header nav {

    display: flex;

}

header nav ul {

    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 0;

}


body > nav {

    position : fixed;
    right: 0;
    background-color: #0047E0;
    height: calc(100vh - 2em);

}




header nav ul li {

    color: #0047E0;
    padding: 0.5em 0;
    width: calc( (100vw - 2em)/4 );
    text-align: center;

}


.button {

    display : block;
    background-color: #0047E0;
    color: #FFF;
    padding: 0.5em;
    text-decoration: none;
    width: fit-content;
    border-radius: 0.2em;

}